@import "../../styles.scss";

.rotor {
    border-radius: $border-radius;
    box-shadow: 0 0 $shadow-spread $shadow-color;

    .char {
        display: block;
        padding: 0.5em;
        background: $background;
        text-align: center;
        opacity: 0.75;
        
        &.current {
            font-weight: bold;
            opacity: 1;
            color: $main-text-color;
        }
    }
}