/* You can add global styles to this file, and also import other style files */
/* Variables */
$main-text-color: #102372;
$background: #FAFAFA;
$shadow-color: rgba(0,0,0,0.07);
$shadow-spread: 40px;
$border-radius: 5px;